<div class="container">
  <div class="header-table">
    <mat-card>
      <mat-card-content>
        <table class="form-table">
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="标题">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <mat-select placeholder="标签" [formControl]="paymentsForm" multiple>
                  <mat-option *ngFor="let topping of statusList" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field>
                <input matInput placeholder="关键字">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="日期">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="haveRead()">查询</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

<div class="container">
  <mat-card>
    <table mat-table [dataSource]="pageSource">
      <!-- Position Column  class="mat-elevation-z8"-->
      <ng-container matColumnDef="OrderNO">
        <th mat-header-cell *matHeaderCellDef> 标题. </th>
        <td mat-cell *matCellDef="let element">
          <a routerLink=".">{{element.OrderNO}} </a>
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Channel">
        <th mat-header-cell *matHeaderCellDef> 标签 </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip>Linux</mat-chip>
            <mat-chip>{{element.Channel}}</mat-chip>
            <mat-chip>Shell</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>


      <!-- Weight Column -->
      <ng-container matColumnDef="StartTime">
        <th mat-header-cell *matHeaderCellDef> 日期 </th>
        <td mat-cell *matCellDef="let element"> {{element.StartTime}} </td>
      </ng-container>


      <!-- Name Column -->
      <ng-container matColumnDef="PaymentNO">
        <th mat-header-cell *matHeaderCellDef> 编辑 </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary">查看</button>
            <button mat-button color="primary">修改</button>
            <button mat-button color="warn">删除</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]='length' [pageSize]='pageSize' (page)="pageData($event)" [pageSizeOptions]="pageSizeOptions"
      showFirstLastButtons></mat-paginator>
  </mat-card>
</div>
